@font-face {
    font-family: 'Museo Sans';
    src:
        url('../fonts/museo-sans-300-webfont.eot');
    src:
        url('../fonts/museo-sans-300-webfont-iefix.eot')
        format('embedded-opentype'),
        url('../fonts/museo-sans-300-webfont.woff2')
        format('woff2'),
        url('../fonts/museo-sans-300-webfont.woff')
        format('woff'),
        url('../fonts/museo-sans-300-webfont.ttf')
        format('truetype'),
        url('../fonts/museo-sans-300-webfont.svg')
        format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src:
        url('../fonts/museo-sans-500-webfont.eot');
    src:
        url('../fonts/museo-sans-500-webfont-iefix.eot')
        format('embedded-opentype'),
        url('../fonts/museo-sans-500-webfont.woff2')
        format('woff2'),
        url('../fonts/museo-sans-500-webfont.woff')
        format('woff'),
        url('../fonts/museo-sans-500-webfont.ttf')
        format('truetype'),
        url('../fonts/museo-sans-500-webfont.svg')
        format('svg');
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #f3f3f3;
}

.hide {
    display: none !important;
}

.header {
    position: fixed;
    background-color: #53b3ff;
    width: 15%;
    height: 100%;
    font-family: "Museo Sans";
}

.header .logo {
    display: block;
    margin: 2em auto;
    width: 80%;
}

.header .menu {
    width: 100%;
}

.header .menu .links {
    width: 100%;
    text-align: center;
}

.header .menu .links li {
    display: flex;
    transition: background-color 200ms;
}

.header .menu .links li:hover {
    background-color: #48adff;
}

.header .menu .links li a {
    flex: 1;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    text-decoration: none;
    font-size: 1.6em;
}

.header .user {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2em;
    width: 100%;
    padding-left: 2em;
}

.header .user .image {
    background-color: white;
    border-radius: 50%;
    padding: 0.5em;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.header .user .name {
    display: inline-block;
    margin-left: 0.5em;
    color: white;
    font-size: 1.2em;
}
.main {
    left: 15%;
    /* position: absolute; */
    width: 85%;
    height: 100%;
    font-family: "Museo Sans"
}

.main .departaments-menu {
    background-color:#53b3ff;
    font-family: "Museo Sans", Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5em;
    position: relative;
    
}

.main .busca {
    border: none;
    position: relative;
    -right: 0.5em;
    font-size: 1.2em;
    padding: 0.3em;
    height: 2em;
}

.main .departaments {
    display: inline-block;
    
}

.main .departaments .finance {
    color: white;
    text-decoration: none;
    padding: 0.2em;
       
}

.main .departaments .ops {
    color: white;
    text-decoration: none;
    padding: 0.2em;
    
}

.main .departaments .front {
    color: white;
    text-decoration: none;
    padding: 0.2em;
    
}

.main .main-content {
    margin: 1.5em;
}

.main .main-content .profile {
    color: #00467d;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    text-align: center;
}

.main .main-content .profile .image {
    width: 1.5em;
    height: 1.5em;
}

.main .main-content .mapa {
    padding: 0.5em;
    width: 20%;
    height: 15%;
    cursor: pointer;
}

.main .main-content .post-container {
    width: 60%;
    height: 20%;
    margin: 2em auto;
    display: flex;
    align-items: center;
}

.main .main-content .post-container .post-content {
    height: 5em;
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: 5em;
    font-size: 1.4em;
    font-family: "Museo Sans", Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 0.2em;
}

.main .main-content .post-container .post-button {
    border: none;
    background: #53b3ff url('../images/white-check.svg') no-repeat center;
    background-size: 50%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 3em;
    color: white;
    cursor: pointer;
}

.main .main-content .post-container .post-button:hover {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
}

.main .main-content .post-list {
    width: 60%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .main-content .post-list .post {
    position: relative;
    margin: 1em 0;
    display: inline-flex;
    background-color: #D6E9F8;
    width: calc(100% - 2em);
    padding: 1em;
    font-family: "Museo Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.main .main-content .post-list .post .like {
    border: 1px solid #f3f3f3;
    background: white url('../images/like-not-pressed.png') no-repeat center;
    opacity: 0.4;
    background-size: 50%;
    cursor: pointer;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    position: absolute;
    right: 5em;
    bottom: -1em;
    outline: none;
    transition: opacity 200ms;
}

.main .main-content .post-list .post .dislike {
    border: 1px solid #f3f3f3;
    background: white url('../images/dislike-not-pressed.png') no-repeat center;
    opacity: 0.4;
    background-size: 50%;
    cursor: pointer;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    position: absolute;
    right: 2em;
    bottom: -1em;
    outline: none;
    transition: opacity 200ms;
}

.main .main-content .post-list .post .like.pressed {
    background: #397eff url('../images/like-pressed.png') no-repeat center;
    background-size: 50%;
    opacity: 1;
}


.main .main-content .post-list .post .like:hover {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
    opacity: 1;
}
.main .main-content .post-list .post .dislike.pressed {
    background: #397eff url('../images/dislike-pressed.png') no-repeat center;
    background-size: 50%;
    opacity: 1;
}


.main .main-content .post-list .post .dislike:hover {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
    opacity: 1;
}
.main .main-content .post-list .post:nth-child(odd) {
    background-color: white;
}

.main .main-content .post-list .post .author {
    position: absolute;
}

.main .main-content .post-list .post .posted-at {
    position: absolute;
    font-size: 0.8em;
    right: 1em;
}

.main .main-content .post-list .post .content{
    margin-top: 2em;
    padding: 1em;
    line-height: 1.4em;
    font-size: 1.2em;
}

.main .followers-container {
    position: fixed;
    right: 0;
    top: calc(100% - 3em);
    height: 100%;
    width: 12em;
    background-color: #53b3ff;
    padding: 1em 2em;
    transition: top 200ms;
}

.main .followers-container:hover {
    top: 2.6em;
}

.main .followers-container .title {
    color: white;
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;

}

.main .followers-container .content li {
    color: white;
    padding: 0.5em;
    text-decoration: none;
}

.main .process-container  {
    /* background: #00467d;
    /* width: 98%; */
    /* height: 10%;
    left: 0.75em; */
 
}

.main .process-container .process-switch {
    display: none;
}

.main .process-container .process-switch:checked ~ .process-list {
    opacity: 1;
    visibility: visible;
}

.main .process-container .macro-process-title {
    color: #00477d;
    padding: 0.50em;
    background: rgba(44, 134, 238, 0.438);
    width: 95%;
    text-align: center;
    margin-top: 2em;
    cursor: pointer;
    border-radius: 0.4em;
}

.main .process-container .process-list {
    /* margin: 1em auto; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
    right: 10em;
  
}

.main .process-container .process-list .process {
    width: 95%;
    display: block;
    text-decoration: none;
    border-radius: 0.4em;
    margin: 0.2em 0;
    padding: 0.2em 0.4em 0.4em 0.4em;
    text-align: center;
    cursor: pointer;
    border: 2px solid #cdefff;
    transition: border 200ms;color: white;
    background-color: rgb(96, 170, 255);;
}

.main .process-container .process-card {
    display: none;
}

.main .process-container .card{
    color: transparent;
    padding: 0.50em;
    background: rgba(44, 134, 238, 0.438);
    position: absolute;
    border-radius: 0.4em;
    display: inline-block;
    visibility: hidden;
    opacity: ;
    height: 50%;
    width: 26em;
    left: 54%;
    top: 23%;
    }

.main .process-container .card-name {
    background: rgba(44, 134, 238, 0.0);
    color: rgba(0, 68, 124, 0.945);
    top: 44%;
    visibility: hidden;
    opacity: 0;
    height: auto;
    right: 2.5%;
    width: auto;
    padding: 1em;
    
}

.main .process-container .card-rotina {
    background: rgba(44, 134, 238, 0);
    color: rgba(0, 68, 124, 0.945);
    top: 28%;
    visibility: hidden;
    opacity: 0;
    height: auto;
    right: 2.5%;
    width: auto;
    padding: 1em;
    
}

.main .process-container .card-nota {
    background: rgba(44, 134, 238, 0);
    color: rgba(0, 68, 124, 0.945);
    top: 32%;
    visibility: hidden;
    opacity: 0;
    height: auto;
    right: 2.5%;
    width: auto;
    padding: 1em;
    
}

.main .process-container .card-projeto {
    background: rgba(44, 134, 238, 0);
    color: rgba(0, 68, 124, 0.945);
    top: 36%;
    visibility: hidden;
    opacity: 0;
    height: auto;
    right: 2.5%;
    padding: 1em;
    
}

.main .process-container .card-previsto {
    background: rgba(44, 134, 238, 0);
    top: 40%;
    color:rgba(0, 68, 124, 0.945);
    visibility: hidden;
    opacity: 0;
    height: auto;
    right: 2.5%;
    padding: 1em;
    
}

.main .process-container .card-responsavel {
    background: rgba(44, 134, 238, 0);
    top: 24%;
    color: rgba(0, 68, 124, 0.945);
    visibility: hidden;
    opacity: 0;
    height: auto;
    right: 2.5%;
    padding: 1em;
    
}

.main .process-container .card-coment {
    background: rgba(44, 134, 238, 0);
    top: 48%;
    color: rgba(0, 68, 124, 0.945);
    visibility: hidden;
    opacity: 0;
    height: auto;
    right: 2.5%;
    padding: 1em;
    
}

.main .process-container .process-list .process-card:checked ~ .card {
    visibility: visible;
    opacity: 1;
}

.main .process-container .coment-content {
    background: rgb(248, 246, 246);
    top: 51%;
    color: rgba(0, 68, 124, 0.945);
    height: auto;
    width: 30.4em;
    padding: 2em;
    margin: 1em;
    
}

.main .process-container .card-dar-nota {
    background: rgba(44, 134, 238, 0);
    top: 61%;
    color: rgba(0, 68, 124, 0.945);
    height: auto;
    width: 27.1em;
    right: 2.5%;
    padding: 1em;
    
}

.main .process-container .card-nota1 {
    background:rgba(44, 134, 238, 0);
    top: 65%;
    display: inline-block;
    color: rgba(0, 68, 124, 0.945);
    height: auto;
    width: 27.1em;
    right: 2.5%;
    padding: 0em 8em;
    position: absolute;
    
}

.main .process-container .card-salvar {
    background:rgb(84, 164, 255);
    top: 69.3%;
    display: inline-block;
    color: rgba(250, 250, 250, 0.945);
    height: auto;
    width: 25em;
    right: 2.5%;
    padding: 1em;
    position: absolute;
    text-align: center;
    
}

.main .process-container .process .image_raguzza{
    width: 6%;
    position: absolute;
    top: 20em;
    left: 41em;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 50%;
    
}

.main .process-container .card-kum{
    width: 6%;
    position: absolute;
    top: 24%;
    left: 59em;
    padding: 0.2em;
    border-radius: 50%;
    height: auto;
}

.main .process-container .process .image_marina{
    width: 6%;
    position: absolute;
    top: 30em;
    left: 41em;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 50%;
    
}

.main .process-container .raguza-info{
    position: absolute;
    top: 21.5em;
    width: 2em;
    left: 46em;
    color: white;
}

.main .process-container .kumm-info{
    position: absolute;
    top: 26.5em;
    width: 2em;
    left: 46em;
    color: white;
}

.main .process-container .marina-info{
    position: absolute;
    top: 31.5em;
    width: 2em;
    left: 46em;
    color: white;
}

@media(min-width: 800px) {
    .main .process-container .macro-process-title {
        width: 70%;
        margin: 2em auto;
    }

    .main .process-container .process-list {
        width: 70%;
        margin: 2em;
    }
}



@media(min-width: 1024px) {
    .main .process-container .macro-process-title {
        width: 50%;
    }

    .main .process-container .process-list {
        width: 50%;
    }
}

@media(min-width: 1600px) {
    .main .process-container .macro-process-title {
        width: 30%;
    }

    .main .process-container .process-list {
        width: 30%;
    }
}
